﻿/*@@media print {
    .btn-print-actions {
        display: none;
    }
}*/

.print tbody th, .print tbody td {
    padding: 0 !important;
    border: 0 !important;
    /* background: #eee; */
    font-size: 12px;
}