body {
    padding-bottom: 20px;
    font-family: Helvetica;
    font-size: 12px;
}

.SmallTable td {
    font-size: 12px;
    padding: 20px;
    vertical-align: middle;
}

.historico-universidad {
    background-color: #396992;
}

.historico-alumno {
    background-color: #f1f2f3;
}

#TablaSolicitudesPendientes_filter,
#TablaSolicitudesPendientes_info {
    text-align: left;
}

.invoice {
    position: relative;
    background-color: #FFF;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.bs-select {
    display: none;
}

.water-mark {
    position: absolute;
    background-image: url("img/doc-no-oficial.png");
    background-repeat: round;
    opacity: 0.2;
    width: 100%;
    height: 850px;
}